body{
    background-color: rgb(194, 89, 89);
    text-align: center;
}

.heading{
    text-decoration: underline;
    font-size: 60px;
    font-weight: bolder;
    color: #efefefef;
    text-shadow: rgb(211, 16, 16);
}

.q{
    text-align: left;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid #efefefef;
    padding: 18px;    
    font-size: 20px;
    font-weight: bold;
    color: #efefefef;
    width: 80%;
    margin-bottom: 20px;
    background-color: rgb(209, 111, 111);
    box-shadow: 5px 5px 5px 5px brown;
}

.mainQ1{
    display: flex;
}

.textColor{
    color: rgb(48, 8, 8);
}

.btnbtn{
    width: 80%;
    font-size: 22px;
    color: #efefefef;
    padding: 18px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #efefefef;
    background-color: rgb(209, 111, 111);
    font-weight: bolder;
    margin-top: 12px;
    cursor: pointer;
}

.result{
    font-size: 30px;
    font-weight: bolder;
    color: #efefefef;
}